#bd{
	background-image: url("darkgray.jpg");
	transition: 0.3s;
}
body{
	transition: 0.3s;
	overflow-x: hidden;
}
p{
	transition: 0.3s;
}

img{
	transition: 0.3s;
}

#dlmode{
	position : absolute ;
	left: 1315px;
	top: 10px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	width: 30px;
	height: 30px;
	transition: 0.3s;
	top: 3px;
}

#dlmode:hover{
	opacity: 40%;
	transition: 0.3s;
}

#navbar{
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid white;
	position: fixed;
	background-image: url("darkgraytop.jpg");
	transition: 0.3s;
	z-index: 1;
	opacity: 90%;
}

#text1{
	color: white;
	font-family: 'Righteous', cursive;
	font-size: 30px;
	top: 2px;
	left: 10px;
	transition: 0.3s;
	position: relative;
}

#text1:hover{
	transition: 0.3s;
	opacity: 49%;
	cursor: default;
}

#logo{
	margin-left: 350px;
	transition: 0.3s;
	position: relative;
	height: 40px;
	width: 40px;
	position: absolute;
}

#logo:hover{
	transition: 0.3s;
	opacity: 60%;
	cursor: default;
}

.divimg{
	width: 100%;
	height: 85%;
	border-radius: 5%;
	position: relative;
}

.divtxt{
	font-family: 'Righteous', cursive;
	font-size: 15px;
	border-radius: 5%;
	position: relative;
	color: black;
}

#me{
	left: 90px;
	bottom: 9px;
}

.menuimg{
	position: absolute;
	width: 250px;
	height: 270px;
	background-color: #fdfdfd57;
	padding: 2px;
	border-radius: 5%;
	transition: 0.3s;
}

#eu{
	left: 50px;
	top: 50px;
}

#eu:hover{
	transition: 0.3s;
}


.menuimg:hover{
	background-color: #ffffffb0;
	transition: 0.3s;
}

#mark{
	width: 400px;
	font-family: 'Righteous', cursive;
	font-size: 30px;
	margin-left: 500px;
	color: white;
	position: absolute;
}

.hide{
	position: absolute;
	background-color: #fdfdfd57;
	padding: 5px;
	padding-left: 30px;
	height: 265px;
	width: 655px;
	transition: 0.3s;
	border-radius: 20px;
}

.hide:hover{
	background-color: #ffffffb0;
}

#hide1{
	left: 337px;
	top: 50px;
}

.hidetxt{
	font-family: 'Righteous', cursive;
	font-size: 20px;
	color: black;
}

#ea{
	left: 1060px;
	top: 50px;
}

.separator{
	background-color: #fdfdfd57;
	width: 1330px;
	height: 100px;
	transition: 0.3s;
	border-radius: 20px;
}

.anunt{
	position: relative;
	bottom: 65px;
	left: 570px;
	width: 200px;
	height: 20px;
	background-color: #00000070;
	border-radius: 10px;
}

.anunttxt{
	font-family: 'Righteous', cursive;
	font-size: 15px;
	color: #fdfdfd57;
	text-align: center;
}

.separator:hover{
	background-color: #ffffffb0;
}

#separator1{
	top: 350px;
	position: absolute;
}

.separatortxt{
	font-size: 40px;
	font-family: 'Righteous', cursive;
	text-align: center;
	bottom: 30px;
	position: relative;
	color: black;
}

.horizontal{
	position: absolute;
	width: 970px;
	height: 550px;
	background-color: #fdfdfd57;
	border-radius: 5%;
	padding: 3px;
	transition: 0.3s;
}

#firsthorizontal{
	top: 520px;
	left: 185px;
}

.horizontal:hover .horizontaltxt{
	font-size: 27px;
}

.horizontal:hover{
	background-color: #ffffffb0;
	transition: 0.3s;
}

.horizontalph{
	position: relative;
	width: 100%;
	height: 490px;
	border-radius: 5%;
}

.horizontaltxt{
	font-family: 'Righteous', cursive;
	font-size: 25px;
	text-align: center;
	position: relative;
	bottom: 15px;
	color: black;
}

.horizontalphinvisible{
	position: absolute;
	top: 3px;
	left: 3px;
	width: 970px;
	height: 490px;
	border-radius: 5%;
	opacity: 0%;
}

.horizontalphinvisible:hover{
	opacity: 100%;
}

#secondhorizontal{
	top: 1120px;
	left: 185px;
}

#thirdhorizontal{
	top: 1720px;
	left: 185px;
}

#fourthhorizontal{
	top: 2320px;
	left: 185px;
}

#separator2{
	position: absolute;
	top: 2950px;
}

.move{
	position: absolute;
	width: 175px;
	height: 175px;
	background-color: #fdfdfd57;
	padding: 2px;
	border-radius: 5%;
	transition: 1.5s;
}

.move:hover{
	background-color: #ffffffb0;
	transition: 1.5s;
}

.moveimg{
	width: 100%;
	height:100%;
	border-radius: 5%;
	position: relative;
}

.button{
	width: 200px;
	height: 40px;
	background-color: white;
	border-radius: 20px;
	transition: 0.3s;
	border: 1px solid white;
}

.button:hover{
	background-color: black;
	border: 1px solid white;
	transition: 0.3s;
	cursor: pointer;
}

.buttontxt{
	color: black;
	font-family: 'Righteous', cursive;
	text-align: center;
	position: relative;
	bottom: 7px;
	transition: 0.3s;
}

#button1{
	position: absolute;
	top: 3350px;
	left: 560px;
}

.button:hover .buttontxt{
	color: white;
	transition: 0.3s;
}

#clickmove{
	position: absolute;
	top: 3100px;
	left: 10px;
}

#separator3{
	position: absolute;
	top: 3735px;
}

.felicitare{
	background-color: #fdfdfd57;
	width: 1270px;
	height: 500px;
	transition: 0.3s;
	padding: 30px;
	border-radius: 20px;
}

.felicitare:hover{
	background-color: #ffffffb0;
	transition: 0.3s;
}

#felicitare1{
	top: 3850px;
	position: absolute;
}

.felicitaretxt{
	font-family: 'Righteous', cursive;
	font-size: 25px;
	color: black;
}


#separator4{
	position: absolute;
	top: 4425px;
}

#separator5{
	position: absolute;
	top: 5150px;
}

.funny{
	transition: 0.3s;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding: 5px;
	background-color: #03a9f46e;
	opacity: 0%;
	pointer-events: none;
}

.funnyimg{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#funny1{
	position: absolute;
	top: 4550px;
	left: 20px;
}

#funny2{
	position: absolute;
	top: 4550px;
	left: 240px;
}

#funny3{
	position: absolute;
	top: 4550px;
	left: 460px;
}

#funny4{
	position: absolute;
	top: 4550px;
	left: 680px;
}

#funny5{
	position: absolute;
	top: 4550px;
	left: 900px;
}

#funny6{
	position: absolute;
	top: 4550px;
	left: 1120px;
}

#funny7{
	position: absolute;
	top: 4900px;
	left: 20px;
}

#funny8{
	position: absolute;
	top: 4900px;
	left: 240px;
}

#funny9{
	position: absolute;
	top: 4900px;
	left: 460px;
}

#funny10{
	position: absolute;
	top: 4900px;
	left: 680px;
}

#funny11{
	position: absolute;
	top: 4900px;
	left: 900px;
}

#funny12{
	position: absolute;
	top: 4900px;
	left: 1120px;
}

#button2{
	position: absolute;
	top: 4800px;
	left: 580px;
}

#felicitare2{
	top: 5530px;
	position: absolute;
	display: none;
}

#button3{
	position: absolute;
	top: 5425px;
	left: 580px;
}

#warnning{
	background-color: #ff002b80;
	width: 1330px;
	height: 70px;
	transition: 0.3s;
	position: absolute;
	top: 5300px;
	border-radius: 40px;
}

#warnning:hover{
	background-color: #ff002bbd;
}

#warnningtxt{
	font-size: 20px;
	font-family: 'Righteous', cursive;
	position: relative;
	text-align: center;
	color: white;
}

#bar{
	position: absolute;
	top: 6800px;
	width: 1330px;
	height: 3px;
	color: white;
}

#finaltxt{
	position: absolute;
	font-size: 30px;
	font-family: 'Righteous', cursive;
	color: white;
	top: 6710px;
	left: 450px;
	min-width: 500px;
}

#bar1{
	position: absolute;
	top: 6700px;
	width: 1330px;
	height: 3px;
	color: white;
}

#final{
	position: absolute;
	width: 500px;
	height: 250px;
	top: 6400px;
	left: 425px;
}

#music{
	position: absolute;
	width: 500px;
	left: 420px;
	top: 6200px;
}

#scroll{
	position: fixed;
	right: 10px;
	bottom: 30px;
	width: 50px;
	height: 50px;
	opacity: 50%;
}

#scroll:hover{
	opacity: 100%;
	cursor: pointer;
}